* {
  background-color: #fcf6ec;
  margin: 0;
  padding: 0;
}
ul,
h1,
h3 {
  font-family: "Archivo", serif;
  text-transform: uppercase;
}

#logo {
  font-family: "Archivo", serif;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24pt;
  color: #b5ccfa;
}

@keyframes logoBounce {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#logo {
  animation: logoBounce 1.2s ease-in-out;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* The menu bar */
ul {
  display: flex;
  list-style: none;
  text-align: left;
  padding-left: 0;
}
ul a {
  color: black;
  font-weight: bold;
  font-size: 10pt;
}

li {
  margin-left: 4rem;
  word-break: keep-all;
}

@media only screen and (max-width: 1000px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }
  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* END */

/* ABOUT ME PAGE */
#main {
  width: 20%;
}

/* Text design */
h1 {
  border-top: 2px solid black;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 30pt;
}

h2 {
  text-transform: uppercase;
}

#contact-me {
  font-family: "Archivo", serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

#contact-me a {
  color: #b5ccfa;
  font-size: 15pt;
}
/* END */

/* CONTACT ME PAGE */
.email,
.number,
h3,
h4 {
  list-style: none;
  text-align: center;
}

.email,
.number,
h3,
h4 {
  color: #b5ccfa;
}
/* END */

.category-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.category-img {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-layout figcaption {
  font-size: 14pt;
  font-weight: 700;
  color: black;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .category-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .category-layout {
    grid-template-columns: 1fr;
  }
}
/* END */

/* COFFE TABLE BOOK - DETAIL PAGE*/
.coffetablebook-img {
  width: 90%;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* END */
